NODE_ENV=development
PORT=3000

DATABASE_URL=""

CORS_ORIGIN="http://localhost:8000"

GITHUB_APP_ID=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_CALLBACK_URL=""
GITHUB_TOKEN_ENCRYPTION_KEY=""
GITHUB_APP_PRIVATE_KEY_PATH=""

REDIS_URL=""

ADZUNA_APP_ID=""
ADZUNA_APP_KEY=""
ADZUNA_COUNTRY="in"
ADZUNA_QUERY="software developer"
ADZUNA_RESULTS_PER_PAGE="10"